body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('Fishing%20Slot/Asset/Background-text.jpg');
    background-size: contain;
    background-position: center;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-color: black;
}

.wheel-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 160px;
}

.wheel-frame {
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    z-index: -1;
    pointer-events: none;
}

.wheel {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 4s cubic-bezier(0.17, 0.67, 0.12, 0.99);
    transform: rotate(0deg);
    z-index: 0;
}

.wheel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pointer {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 60px;
    z-index: 2;
}

.pointer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spin-button {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    width: 100%;
    max-width: 250px;
}

.spin-button:hover {
    transform: translateX(-50%) scale(1.05);
}

/* Modal Popup Styles */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
     background-image: url('Fishing%20Slot/Asset/Background.jpg');
    background-size: contain;
    background-position: center;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.modal-content {
    max-width: 350px;
    width: 100%;
    animation: modalFadeIn 0.5s;
}

.modal-content img {
    width: 100%;
    height: auto;
}

@keyframes modalFadeIn {
    from {transform: scale(0.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

.title-img{
    position: absolute;
    top: 50%;
    transform: translateY(-350%);
    width: 100%;
}
.stand{
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(150px);
    z-index: -1;
}
@media(max-width:500px){
    body,.modal{
        background-size: cover;
    }
    .wheel-container{
        width: 300px;
        height: 300px;
    }
    .stand{
        transform: translateY(120px);
    }
}